[default]
output=yaml
cli_follow_urlparam=false

[profile foo]
region=eu-central-1
sso_session=foo
sso_account_id=66
sso_role_name=TheRole

[sso-session foo]
sso_region = eu-central-1
sso_start_url = https://d-foo.awsapps.com/start