{:deps {org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases {
   :nrepl-server {
     :extra-deps {nrepl/nrepl      {:mvn/version "0.9.0"}
                  cider/piggieback {:mvn/version "0.5.3"}}
     :main-opts  ["-m" "nrepl.cmdline"
                  "--middleware" "[cider.piggieback/wrap-cljs-repl]"]
   }
 }
}
